<!DOCTYPE html>
<html>
<head>
    <title>Hostel Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Hostel Management System</h1>

    <div class="container">
        <form method="post">
            <label>College Email</label><br><br>
            <input type="email" name="email" placeholder="Enter college email" required>
            <br><br>
            <button type="submit">Login</button>
        </form>
    </div>

</body>
</html>
